#comment #ds-thread #ds-reset a.ds-like-thread-button {
  background-color: #fff;
  background-image: none;
}
#comment #ds-reset .ds-gradient-bg {
  background: none;
}
#comment #ds-thread #ds-reset .ds-powered-by {
  display: none;
}


// for comment load button
// 评论加载按钮样式
#load-disqus {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
  }

#load-disqus {
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

#load-disqus:hover {
  background-color: #555555;
  color: white;
}
