<% if (page.comments){ %>
<section id="comment">
  <!-- <h1 class="title"><%= __('comment') %></h1> -->

  <% if(config.disqus_shortname) { %>

    <div style="text-align:center;">
      <button  id="load-disqus" onclick="disqus.load(); this.style.visibility='hidden';" >加载 Disqus 评论 (请确保能正常访问Disqus) </button>
    </div>
<!-- Definition For Click2Load Disqus -->
<!-- 点击加载Disqus评论设置 -->

  <div id="disqus_thread">
    <script type="text/javascript">
    var disqus_config = function () {
          this.page.url = window.location.href;
          this.page.identifier = '<%= page.layout %>-<%= page.slug %>';
          this.page.title = '<%= page.title %>';
      };
    </script>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>


  <% } %>
</section>
<% } %>
